html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

body.dark::-webkit-scrollbar-thumb {
  background-color: #3f3f
}
